main{
    background-color: #f2f2f2;
}

input, select, textarea {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.btnSUcces{
    background-color: #4CAF50; /* Vert */
}

.btnSUcces:hover {
    background-color: #45a049; /* Vert un peu plus foncé */
}

.btnAnuler{
    background-color: #f44336; /* Rouge */
}

.btnMofifier{
    background-color: #ff9800; /* Orange */
}

.btnPrimary{
    background-color: #008CBA; /* Bleu */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
     /* Animation fluide */
  transition: all 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.05);    /* Légère mise en avant */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Ombre élégante */
}

.btnOpenSidebar{
    background-color: #008CBA; /* Gris foncé */
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease-in-out;
}
.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.table tr:hover {
    background-color: #f1f1f1;
}
.table tr:nth-child(even) {
    background-color: #fafafa;
}
.table tr:nth-child(odd) {
    background-color: #fff;
}


